<a href="https://colab.research.google.com/github/machave11/Python---Data-Science/blob/main/Python_Data_Cleaning_and_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from skimage.io import imread
from numpy import nan as NA

Doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging. Such tasks are often reported to take up 80% or more of an analystâ€™s time. Sometimes the way that data is stored in files or databases is not in the right format for a particular task.

Fortunately, pandas, along with the built-in Python language features, provides you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.

In [137]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [138]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

# NOTE- The build in python None value treated as NA in object array

In [139]:
string_data[0]= None

In [140]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [141]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

# Filtering out missing data

In [142]:
data = pd.Series([1,NA,3.5,NA,5])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    5.0
dtype: float64

In [143]:
data.dropna()

0    1.0
2    3.5
4    5.0
dtype: float64

# You may want to drop rows or columns that are all NA or only those containing any NAs. dropna by default drops any row containing a missing value:

In [144]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [145]:
cleaned  = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

HOW = 'All' only drop that rows that are contain NA value

In [146]:
# how=;all only drop that rows that are contain NA value
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

# In same way to drop column then axis=1

In [147]:
data[4]=NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [148]:
data.dropna(how='all', axis=1)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

# A related way to filter out DataFrame rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [149]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 2] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.678981 -0.966078       NaN
1  0.525338  1.955688       NaN
2  0.280758 -0.514775       NaN
3 -0.626533  1.081160       NaN
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

In [150]:
df.dropna()

          0         1         2
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

In [151]:
df.dropna(thresh=2)

          0         1         2
0 -0.678981 -0.966078       NaN
1  0.525338  1.955688       NaN
2  0.280758 -0.514775       NaN
3 -0.626533  1.081160       NaN
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

# Filling missing values
Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the â€œholesâ€ in any number of ways. For most purâ€ poses, the fillna method is the workhorse function to use. Calling fillna with a constant replaces missing values with that value:

In [152]:
df.fillna(0)

          0         1         2
0 -0.678981 -0.966078  0.000000
1  0.525338  1.955688  0.000000
2  0.280758 -0.514775  0.000000
3 -0.626533  1.081160  0.000000
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

# Calling fillna with dict, you can use different fill value for each column

In [153]:
df.fillna({1:0.5, 2:1})

          0         1         2
0 -0.678981 -0.966078  1.000000
1  0.525338  1.955688  1.000000
2  0.280758 -0.514775  1.000000
3 -0.626533  1.081160  1.000000
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

# NOTE: fillna returns a new object, but you can modify the existing object in-place:

In [154]:
data = df.fillna(0, inplace=True)
df

          0         1         2
0 -0.678981 -0.966078  0.000000
1  0.525338  1.955688  0.000000
2  0.280758 -0.514775  0.000000
3 -0.626533  1.081160  0.000000
4 -0.235907  1.184357 -0.680343
5 -0.409052  1.275501 -1.582114
6  0.700449 -0.001655  1.279172

# The same interpolation methods available for reindexing can be used with fillna

In [155]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -1.130685  0.360698  0.736804
1  0.046740 -1.099640 -0.325695
2  0.279336       NaN  0.018097
3  0.812301       NaN  0.871229
4 -0.561802       NaN       NaN
5 -1.392787       NaN       NaN

In [156]:
df.fillna(method='ffill')

          0         1         2
0 -1.130685  0.360698  0.736804
1  0.046740 -1.099640 -0.325695
2  0.279336 -1.099640  0.018097
3  0.812301 -1.099640  0.871229
4 -0.561802 -1.099640  0.871229
5 -1.392787 -1.099640  0.871229

In [157]:
df.fillna(method='ffill', limit = 2)

          0         1         2
0 -1.130685  0.360698  0.736804
1  0.046740 -1.099640 -0.325695
2  0.279336 -1.099640  0.018097
3  0.812301 -1.099640  0.871229
4 -0.561802       NaN  0.871229
5 -1.392787       NaN  0.871229

# With a fillna we can do lots of creative things for example: you might pass mean or median value of series

In [158]:
data = pd.Series([1,NA,2.5,3,NA])
data.fillna(data.mean())

0    1.000000
1    2.166667
2    2.500000
3    3.000000
4    2.166667
dtype: float64

# Data Transformation

In [159]:
# Removing Duplicates
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
 'k2': [1, 1, 2, 3, 3, 4, 4]})

data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

# The DataFrame method duplicated returns a boolean Series indicating whether each row is a duplicate (has been observed in a previous row) or not:

In [160]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

#Relatedly, drop_duplicates returns a DataFrame where the duplicated array is False:

In [161]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

#Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:

In [162]:
data['v1']=range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [163]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

# Transforming Data Using a Function or Mapping

For many datasets, you may wish to perform some transformation based on the valâ€ ues in an array, Series, or column in a DataFrame. Consider the following hypothetiâ€ cal data collected about various kinds of meat:

In [164]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
 ....: 'Pastrami', 'corned beef', 'Bacon',
 ....: 'pastrami', 'honey ham', 'nova lox'],
 ....: 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

Suppose you wanted to add a column indicating the type of animal that each food came from. Letâ€™s write down a mapping of each distinct meat type to the kind of animal:

In [165]:
meat_to_animal = {
 'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'
}

The map method on a Series accepts a function or dict-like object containing a mapâ€ ping, but here we have a small problem in that some of the meats are capitalized and others are not. Thus, we need to convert each value to lowercase using the str.lower Series method:

In [166]:
lowercased=data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [167]:
data['animal']=lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

Using map is a convenient way to perform element-wise transformations and other data cleaningâ€“related operations.

# Replacing values

Filling in missing data with the fillna method is a special case of more general value replacement. As youâ€™ve already seen, map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do s

In [168]:
# lets consider series
data =pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

The -999 values might be sentinel values for missing data. To replace these with NA values that pandas understands, we can use replace, producing a new Series (unless you pass inplace=True)

In [169]:
data.replace(-999,NA)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

If we want to replace value at onces then

In [170]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

To use a different replacement for each value, pass a list of substitutes:

In [171]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

The argument passed can also be a dict:

In [172]:
data.replace({-999:np.nan, -1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

The data.replace method is distinct from data.str.replace, which performs string substitution element-wise.

# Renaming Axis Indexes

In [173]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
  index=['Ohio', 'Colorado', 'New York'],
  columns=['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method:

In [174]:
transform = lambda x : x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

You can assign to index, modifying the DataFrame in-place:

In [175]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

If you want to create a transformed version of a dataset without modifying the original, a useful method is rename:

In [176]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

Notably, rename can be used in conjunction with a dict-like object providing new values for a subset of the axis labels:

In [177]:
data.rename(index={'OHIO': 'INDIANA'},
  columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [178]:
data.rename(index={'OHIO':'Indianna'},inplace=True)
data

          one  two  three  four
Indianna    0    1      2     3
COLO        4    5      6     7
NEW         8    9     10    11

Discretization and Binning

Continuous data is often discretized or otherwise separated into â€œbinsâ€ for analysis. Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:

In [179]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Letâ€™s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To do so, you have to use cut, a function in pandas:

In [180]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [181]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

Note that pd.value_counts(cats) are the bin counts for the result of pandas.cut. Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:

In [182]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

You can also pass your own bin names by passing a list or array to the labels option:

In [183]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

If you pass an integer number of bins to cut instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:

In [184]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.71, 0.92], (0.081, 0.29], (0.081, 0.29], (0.081, 0.29], (0.5, 0.71], ..., (0.29, 0.5], (0.5, 0.71], (0.081, 0.29], (0.5, 0.71], (0.5, 0.71]]
Length: 20
Categories (4, interval[float64, right]): [(0.081, 0.29] < (0.29, 0.5] < (0.5, 0.71] < (0.71, 0.92]]

In [185]:
data = np.random.randn(1000) # Normally distributed
cats = pd.qcut(data, 4) # Cut into quartiles

cats

[(-0.694, -0.0325], (-2.774, -0.694], (0.592, 3.31], (-0.0325, 0.592], (-0.694, -0.0325], ..., (-0.694, -0.0325], (-0.0325, 0.592], (0.592, 3.31], (0.592, 3.31], (-2.774, -0.694]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.774, -0.694] < (-0.694, -0.0325] < (-0.0325, 0.592] <
                                           (0.592, 3.31]]

In [186]:
pd.value_counts(cats)

(-2.774, -0.694]     250
(-0.694, -0.0325]    250
(-0.0325, 0.592]     250
(0.592, 3.31]        250
dtype: int64

Similar to cut you can pass your own quantiles (numbers between 0 and 1, inclusive):

#Detecting and Filtering Outliers

Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:

In [187]:
data = pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0   -0.201200  0.541985 -0.280197  0.340897
1   -0.148345  1.490200 -0.325321  0.675517
2    0.819605  0.531919  1.318319 -0.921085
3   -0.179553  0.354241  0.186740 -0.449790
4   -0.543926 -0.095182  0.708516 -1.035647
..        ...       ...       ...       ...
995  0.028141  0.919206  0.723162  0.446639
996  1.438367 -0.329365 -0.825658 -1.011526
997  1.437069  0.928101  0.055648  0.371231
998  1.012372  1.146867  0.000348 -1.593428
999 -0.508067  0.360338 -2.498131 -1.856442

[1000 rows x 4 columns]

In [188]:
data.describe

<bound method NDFrame.describe of             0         1         2         3
0   -0.201200  0.541985 -0.280197  0.340897
1   -0.148345  1.490200 -0.325321  0.675517
2    0.819605  0.531919  1.318319 -0.921085
3   -0.179553  0.354241  0.186740 -0.449790
4   -0.543926 -0.095182  0.708516 -1.035647
..        ...       ...       ...       ...
995  0.028141  0.919206  0.723162  0.446639
996  1.438367 -0.329365 -0.825658 -1.011526
997  1.437069  0.928101  0.055648  0.371231
998  1.012372  1.146867  0.000348 -1.593428
999 -0.508067  0.360338 -2.498131 -1.856442

[1000 rows x 4 columns]>

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:

In [189]:
col = data[1]
col[np.abs(col)>3]

122   -3.001499
305   -3.302167
597   -3.400095
Name: 1, dtype: float64

To select all rows having a value exceeding 3 or â€“3, you can use the any method on a boolean DataFrame:

In [190]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
100 -3.018972  1.981860 -1.044549  1.512955
122  0.619796 -3.001499  0.340523 -0.630708
305 -0.932629 -3.302167 -0.574971  0.249176
409 -0.066500 -0.955042  0.031490  3.095319
459  1.405354  0.190670 -0.069040  3.139005
597 -2.209905 -3.400095 -1.067594 -0.408010
665  0.602022 -0.332572 -3.009976  0.978851
771  0.013772 -0.470886 -3.344802  0.895237
809  1.565762  0.203241  1.881820  3.424605
853 -0.521323 -1.030926 -3.205562  0.006415
916  0.204246 -0.970566 -3.657532  1.230809

Values can be set based on these criteria. Here is code to cap values outside the interval â€“3 to 3:

In [191]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.008219    -0.019780    -0.004410     0.000420
std       0.987183     1.049036     1.007887     1.005671
min      -3.000000    -3.000000    -3.000000    -2.762570
25%      -0.659520    -0.723340    -0.677949    -0.702179
50%       0.006641    -0.024722     0.000103    -0.001452
75%       0.638092     0.655254     0.709298     0.676211
max       2.893278     2.911016     2.676577     3.000000

The statement np.sign(data) produces 1 and â€“1 values based on whether the values in data are positive or negative:

In [192]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1 -1.0  1.0 -1.0  1.0
2  1.0  1.0  1.0 -1.0
3 -1.0  1.0  1.0 -1.0
4 -1.0 -1.0  1.0 -1.0

# String Manipulation

Most text operations are made simple with the string objectâ€™s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.

# String Object Methods

In [194]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

split is often combined with strip to trim whitespace (including line breaks):

In [196]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':

In [197]:
'::'.join(pieces)

'a::b::guido'

Other methods are concerned with locating substrings. Using Pythonâ€™s in keyword is the best way to detect a substring, though index and find can also be used:

In [198]:
'guido' in val

True

In [201]:
val.index(',')

1

In [202]:
val.find(':')

-1

Note the difference between find and index is that index raises an exception if the string isnâ€™t found (versus returning â€“1):

In [206]:
val.index(':')

ValueError: ignored

In [208]:
val.count(',')

2

In [209]:
val.replace(',', '::')

'a::b:: guido'

In [210]:
val.replace(',', '')

'ab guido'

# Regular Expressions

Regular expressions provide a flexible way to search or match (often more complex) string patterns in text. A single expression, commonly called a regex, is a string formed according to the regular expression language. Pythonâ€™s built-in re module is responsible for applying regular expressions to strings; Iâ€™ll give a number of examples of its use here.

The re module functions fall into three categories: pattern matching, substitution, and splitting. Naturally these are all related; a regex describes a pattern to locate in the text, which can then be used for many purposes. Letâ€™s look at a simple example:

suppose we wanted to split a string with a variable number of whitespace characters (tabs, spaces, and newlines). The regex describing one or more whitespace characters is \s+

In [211]:
import re

In [213]:
text = "foo bar\t baz \tqux"
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [216]:
regex = re.compile('\s+')

In [217]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

# If, instead, you wanted to get a list of all patterns matching the regex, you can use the findall method:

In [218]:
regex.findall(text)

[' ', '\t ', ' \t']

NOTE: Creating a regex object with re.compile is highly recommended if you intend to apply the same expression to many strings; doing so will save CPU cycles.

In [220]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [222]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [223]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [224]:
m = regex.search(text)
m

In [226]:
text[m.start():m.end()]

'dave@google.com'

In [229]:
print(regex.match(text))

None

Relatedly, sub will return a new string with occurrences of the pattern replaced by the a new string:

In [235]:
print(regex.sub('Corrected', text))

Dave Corrected
Steve Corrected
Rob Corrected
Ryan Corrected